@page "/goals"
@using FitnessFox.Components.ViewModels
@using FitnessFox.Data.Goals

@attribute [Authorize]
@inherits ViewModelComponentBase<GoalsViewModel>
<h3>Goals</h3>

<MudGrid>
    @foreach (var goal in Vm.UserGoals)
    {
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Style="padding: 10px">
                @{
                    var name = goal.Type.GetAttribute<DisplayAttribute>();
                }
                <MudNumericField T="float" @bind-Value="goal.Value" @bind-Value:after="() => Vm.Load(() => Vm.Save(goal))" Label="@name?.Name"></MudNumericField>
            </MudPaper>
        </MudItem>
    }
</MudGrid>